{% extends "base-admin.html.twig" %}

{% block body %}
    <div class="content-wrapper article-content">
        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_message_liste') }}">Retour</a>
                </li>
                <li class="breadcrumb-item">
                    Ajouter un article
                </li>
            </ol>

            <!-- 100% background wrapper (grey background) -->
            <table class="admin-messages-table" border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" style="table-layout: fixed">
                <tr class="admin-messages-tr">
                    <td class="admin-messages-td" align="center" valign="top">

                        <br>

                        <!-- 600px container (white background) -->
                        <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
                            <tr>
                                <td class="container-padding header" align="left">
                                    <b>De : {{ message.nom }}</b><br/>
                                    <b>Email : {{ message.email }}</b><br/>
                                    <b>Telephone : {{ message.telephone }}</b><br/>
                                    <b>Sujet : {{ message.objet }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td class="container-padding content" align="left" style="word-break: break-word">
                                    <br/><br/>
                                    <div class="body-text">
                                        {{ message.message |  nl2br }}
                                    </div>
                                </td>
                            </tr>
                        </table><!--/600px container -->
                    </td>
                </tr>
            </table><!--/100% background wrapper-->

            <div class="message_button">
                <div class="row">
                    <div  style="display: block; margin: 30px auto">
                        <a href="mailto:{{ message.email }}?subject={{ message.objet }}"><button class="btn btn-info link-cursor">Repondre</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}